APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:Oppt5OMu76npQR1Dg6/HQG/V8VkFKT1GhcP4vChSNKE=
APP_DEBUG=true
APP_URL=http://localhost:8001

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=upload_image_backend_db
DB_USERNAME=root
DB_PASSWORD=123456@Abc
# DB_USERNAME=dms_admin #root, 123456@Abc  //SERVER
# DB_PASSWORD=123456@Abc

# DB_CONNECTION=mysql
# DB_HOST=dms_mysql
# DB_PORT=3306
# DB_DATABASE=upload_image_backend_db
# DB_USERNAME=dm_root
# DB_PASSWORD=123456@Abc

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=1200

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=smtp
# MAIL_HOST=mailpit
# MAIL_PORT=1025
# MAIL_USERNAME=null
# MAIL_PASSWORD=null

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
# MAIL_PORT=465
MAIL_PORT=587
MAIL_USERNAME=smtps386@gmail.com
MAIL_PASSWORD=npkwkimxmremgbwz
# MAIL_USERNAME=peouvannsann2222@gmail.com
# MAIL_PASSWORD=vtthajxgtxjxljug
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="peouvannsann2222@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

# MAIL_MAILER=smtp
# MAIL_HOST=smtp.mailtrap.io
# MAIL_PORT=2525
# MAIL_USERNAME=2370b351a5b9a5
# MAIL_PASSWORD=5d3226a4e6aedc

# api_key=c9f6136fc3857e475f0b8d6c612589eb-826eddfb-74dc648a
# MAIL_MAILER=mailgun
# MAIL_HOST=smtp.mailgun.org
# MAIL_PORT=587
# MAILGUN_DOMAIN=sandbox8763c605aa3a4e4ab55c89ffc2a42d27.mailgun.org
# MAILGUN_SECRET=c9f6136fc3857e475f0b8d6c612589eb-826eddfb-74dc648a
# MAIL_USERNAME=postmaster@sandbox8763c605aa3a4e4ab55c89ffc2a42d27.mailgun.org
# MAIL_PASSWORD=ad87aa58c4aae1e36aa3ce27a0530931-826eddfb-9a5b7668

# api_key=c9f6136fc3857e475f0b8d6c612589eb-826eddfb-74dc648a
# MAIL_MAILER=mailgun
# MAIL_HOST=smtp.mailgun.org
# MAIL_PORT=587
# MAILGUN_DOMAIN=mailg.vannsann.tech
# MAILGUN_SECRET=c9f6136fc3857e475f0b8d6c612589eb-826eddfb-74dc648a
# MAIL_USERNAME=brad@mailg.vannsann.tech
# MAIL_PASSWORD=P@123pP$

MAILGUN_ENDPOINT=api.mailgun.net
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="bundorinn007@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_DEBUG=true


PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

JWT_SECRET=F8iWHqYw3kqsmPZZ8BKBsgnmwsGne1Y9ksC3ccycRH7Opl1KuSC4H4BCSAVonL0b

#DigitalOcean Space
# FILESYSTEM_DRIVER=spaces
# DO_SPACES_KEY=DO00ZPPGRBMXRA3PWGUZ
# DO_SPACES_SECRET=5EeKZJWX9UCWodW3uSosEumrH5x6k0qW3+8JEpE48xc
# DO_SPACES_ENDPOINT=https://v3shoprunbackstorage.syd1.digitaloceanspaces.com/
# DO_SPACES_REGION=syd1
# DO_SPACES_BUCKET=v3shoprunbackstorage
# STORAGE_URL=https://v3shoprunbackstorage.syd1.digitaloceanspaces.com/

DO_SPACES_KEY=DO00ZPPGRBMXRA3PWGUZ
DO_SPACES_SECRET=5EeKZJWX9UCWodW3uSosEumrH5x6k0qW3+8JEpE48xc
DO_SPACES_ENDPOINT=https://carrier-wrapper-label.sgp1.digitaloceanspaces.com
DO_SPACES_REGION=sgp1
DO_SPACES_BUCKET=carrier-wrapper-label