@import "_colors.scss";


.v-navigation-drawer {
  padding-top: 10px; 
  background-color: $primary;
}

.v-list-item__content a {
  color: $white;
}


.active-menu-item {
  font-weight: bold;
  background-color: rgb(75, 74, 74) !important;
}