@import "_colors.scss";

.form-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.column-5 {

  @media (min-width: 576px ) {
    flex-basis: 50%;
    max-width: 50%;
  }
  
  @media (min-width: 768px ) {
    flex-basis: 33%;
    max-width: 33%;
  }

  @media (min-width: 1200px ) {
    flex-basis: 20%;
    max-width: 20%;
  }
}