@import "_colors.scss";

input {
  border-radius: 5px;
  padding: 10px;
  background-color: $white;
  margin-left: 10px;
  outline: none;
  width: 250px;
}

button {
  background-color: $secondary !important;
  color: $white !important;
  margin: 0 10px !important;
  padding: 0 25px;
  font-weight: bold !important;
}

.v-data-table-header__content {
  font-weight: bold;
}