@import "_colors.scss";

input {
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  outline: none;
  width: 250px;
}

input.search {
  background-color: $white;
}

.v-data-table-header__content {
  font-weight: bold;
}